{% extends "blog/layout.html"%} 

{% block title %}
Login
{% endblock %} 

{% block content %}
<div class = "container">
    <div class="row" style="padding-top: 200px">
      <div class="col-md-4"></div>
      <div class="col-md-4">
         <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}

            
            {% if form.errors %}
            <p>Your Username or Password were not entered correctly. Please try again.</p>
            {% endif %}
            
            <table class="table table-striped">
            <tr class="info">
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
                <td>{{ form.username.errors }}</td> 
            </tr>
            <tr class="info">
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
                <td>{{ form.password.errors }}</td>
            </tr>
            </table>
            
            <input style="background-color: #42a6b4; color: white; float: right;" type="submit" value="login" />

        </form>
        <p style="margin-top: 10px; margin-left: 75px;">
        <button style="background-color: #42a6b4; float: right;"><a style="text-decoration: none; color: white; font-size: 10px" href="/accounts/register">회원가입하기</a></button>
        </p>

      </div>
      <div class="col-md-4"></div>
    </div>
</div>

 {% endblock %}